@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&display=swap');

.container {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}

input {
  border-radius: 4px;
}

body {
  font-family: 'Russo One', sans-serif;
  background: rgb(33, 37, 43) url(https://wallpaperaccess.com/full/1616118.png)
    no-repeat fixed center center;
}

.font-space {
  font-family: 'Press Start 2P', cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

.fz-18 {
  font-size: 18px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
